body{
    margin: 0;
}
header{
width: 100%;
height: 70px;

    background-color: #19103E;
}
.header_bth{ display: flex;
   
    align-items: center;
justify-content: center;}
.header_bth button{
    margin-left:10% ;

    background-color: transparent;
    border: none;
    color:#E9B976;
    font-size: 24px;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19103E;
    color:white;
}

  footer div button{
    width:204px ;
    height:55px;
    border:1px solid #441818 ;
    border-radius:24px ;
    margin-left: 50px;
background-color:#FF9B05 ;
color:#19103E;
  }
  footer div{
    margin-left: 200px;
    color:white;
    font-size: 24px;
   
}
input{
background-color: transparent;
border: none;
border-bottom:1px solid #FF9B05;
width:283px ;
height:50px ; 
}
.ing{
    margin-left: -45px;
      }
      .gt{
    
        width: 50px;
        height: 50px;
        margin-left:30px ;
      }
      main{
        background-image: url('img/header.jpg');
        height: 1119px;
        background-repeat: no-repeat;
        background-size:100% ;
        display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
      }
      h3{
        color: #FF9B05;
        font-size:36px ;
        
      }
      .ss{
        display:flex ;
        width: 80%;
        height:150px ;
        background-color: #00000040;
        color:white;
        border-radius:64px ;
        justify-content: center;
        align-items: center;
        
      }
      p{
        font-size: 24px;
        color: white;
        width: 585px;
        text-align: center;
      }
      .b{
        margin-left: 100px;
        width: 428px;
      }
      #aa{
        margin-left: 100px;
     
            width:306px ;
            height:91px ;
            border: 1px solid #441818;
            background-color: #FF9B05;
            color: #19103E;
            border-radius: 24px;
            font-size: 36px ;
            
      
      }
      ::placeholder{
        color: white;
        font-size:24px ;
        opacity: 75%;
      }